/* Emulate GovSpeak styles
 * -------------------------------- */
.call-to-action,
.govspeak-call-to-action {
  background-color: govuk-colour("light-grey");
  margin: 2em 0;
  padding: 2em
}

.call-to-action > p:first-child,
.govspeak-call-to-action > p:first-child {
  margin-top: 0;
}

.call-to-action > p:last-child,
.govspeak-call-to-action > p:last-child {
  margin-bottom: 0;
}

.govspeak-warning-callout,
.help-notice {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35'%3E%3Ccircle cx='17.5' cy='17.5' r='17.5' fill='%230B0C0C'/%3E%3Cpath fill='%23FFF' d='M19 26h-3v-3h3v3Zm0-7h-3V9h3v10Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position: 0 4.5px;
  min-height: 2.5em;
  padding: govuk-spacing(2) 0 govuk-spacing(2) 45px;
  margin: 2em 0;

  p {
    @include govuk-font($size: 19, $weight: bold);
  }

  p:first-child {
    margin-top:0;
  }

  p:last-child {
    margin-bottom:0;
  }
}

.govspeak-info-notice,
.info-notice {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
  border-left: $govuk-border-width-wide solid $govuk-border-colour;
  padding: govuk-spacing(3);

  > :first-child {
    margin-top: 0;
  }

  > :only-child,
  > :last-child {
    margin-bottom: 0;
  }
}

.govspeak-address,
.govspeak-contact,
.address,
.contact {
  @include govuk-text-colour;
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(4, "bottom");
  border-left: 1px solid $govuk-border-colour;
  font-style: normal;
  margin-top: 0;
  padding-left: govuk-spacing(3);
}


// Apply GOVUk link styles to all links in editable content areas
.fb-editable[data-fb-content-type="content"] a {
  @extend %govuk-link;
}

// Apply GOVUk link styles to all links in editable content areas
editable-content {
  a {
    @extend %govuk-link;
  }

  table {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    width: 100%;
    @include govuk-responsive-margin(6, "bottom");

    border-spacing: 0;
    border-collapse: collapse;
  }

  thead td,
  thead th {
    @include govuk-typography-weight-bold;
  }

  td, th {
    padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
    border-bottom: 1px solid $govuk-border-colour;
    text-align: left;
    vertical-align: top;
  }

  td:last-child,
  th:last-child {
    padding-right: 0;
  }
}

