
/* Emulate GovSpeak styles
 * -------------------------------- */
.call-to-action {
  background-color: govuk-colour("light-grey");
  margin: 2em 0;
  padding: 2em
}

.call-to-action > p {
  margin: 0;
}

// Apply GOVUk link styles to all links in editable content areas
.fb-editable[data-fb-content-type="content"] a {
  @extend %govuk-link;
}
