$govuk-assets-path: "~govuk-frontend/dist/govuk/assets/";
@import "govuk-frontend/dist/govuk/index";

// Corrective tweak to make area non-full width in large view
// Pointed out by design and shown in this example (at time of writing)
// https://design-system.service.gov.uk/patterns/confirmation-pages/default/index.html 
.govuk-panel--confirmation {
  width: govuk-grid-width("two-thirds");

  @include govuk-media-query($until: tablet) {
    width: 100%;
  }
}

.govuk-panel--confirmation-payment {
  @extend .govuk-panel--confirmation;
  background-color: $govuk-brand-colour;
}

// Now the design system has white bg for fields, the autocomplete dropdown
// triangle is hidden.  This z-index change fixes that.
// See: https://github.com/alphagov/accessible-autocomplete/issues/351
.autocomplete__wrapper {
  z-index: 0;
}

// Enables the footer color to go to the base of the window
// and forces min height of content area
html {
  background-color: #F3F2F1;
}

#main-content {
  min-height: 55vh;
}
